{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content%}
<div
    class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center bg-light text-dark text-center">
    <h1 class="pt-5">Страница с услугами</h1>
    <div class="row justify-content-center mt-5">
        <div class="col-md-3">
            <h4>Быстро</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi laudantium quis incidunt eos
                atque, excepturi sit. Provident, neque. Dolor error aspernatur earum inventore! Illo sint corrupti totam
                id dolorum!</p>
        </div>
        <div class="col-md-3">
            <h4>Дешево</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, amet temporibus illum maiores in
                repellat accusantium natus. Consequuntur repudiandae praesentium nulla saepe, reiciendis unde est, quia
                enim officia nobis aut?</p>
        </div>
        <div class="col-md-3">
            <h4>Качественно</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure animi excepturi quis dicta soluta, porro
                nobis eveniet incidunt. Autem, dolor distinctio tenetur enim fugit hic quae perspiciatis labore alias
                quia.</p>
        </div>
    </div>
</div>
{% endblock %}

